.about{
    margin-top: 15vh;

    .section-title{
        margin-bottom:5vh;
    }

    .ceo-blocks{
        background-image: var(--background-about);
        background-size: cover;
    }

    .about-introduction{
        padding-top: 30px;
    }


    .gallery-item{
        margin-bottom: 25px;
        padding-top: 25px;
        padding-left: 10px;
        padding-right: 10px;
        display: flex;
        // align-items: stretch;

        img{
        object-fit: cover !important ;
        }

        p{
        margin-bottom: 0;
        }

        .ceo-image{
            border-radius: 100%;
            margin-top: 20px;
            margin-bottom: 20px;
            width: 80%;
        
        }

        .gallery-card{
        width: 100%;
        }

        .website-link{
            margin-top: 20px;
        }

    }
}