<section id="partners" class="partners">
    <div class="row justify-content-left col-10 mx-auto">
        <p class="partner-description">{{ 'HOME.PARTNERS.DESCRIPTION' | translate }}</p>
    </div>
    <div class="col-10 mx-auto">
      <div class="d-flex justify-content-around align-items-center flex-wrap" *ngIf="(supports$ | async) as supports; else loading">
          <div class="partner-item" *ngFor="let support of supports">
              <img src="{{ support.IMG.SRC }}" alt="{{ support.IMG.ALT}}">
          </div>
      </div>
    </div>

</section>

<ng-template #loading>
    <p>Loading...</p>
</ng-template>
