<section id="benefits" class="benefits">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 mt-4">
        <div class="text-center">
          <h2 class="text-center text-sm-left">{{ 'HOME.BENEFITS.TITLE' | translate }}</h2>
        </div>
          <div class="d-md-flex d-sm-block">
            <div class="benefit-item col-sm-12 col-md-4" *ngFor="let benefit of benefits">
              <div class="benefit-avtar">
                <img src="{{ benefit.IMG.SRC }}" alt="{{ benefit.IMG.ALT }}">
              </div>
              <div class="benefit-text">
                <p>{{ benefit.DESCRIPTION }}</p>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</section>
