<!-- home demo section -->
<section class="fadinup" id="home-demo">
  <div class="container-fluid m-width">
    <div class="row">
      <div class="col-md-12">
        <h2 class="landing-title">choose demo</h2>
        <div class="border-shape"></div>
      </div>
      <div class="col-lg-6 offset-lg-3 col-md-10 offset-md-1">
        <p class="demo-description">Clean and clear designs makes websites differ from others. We've pre-build demo for giving you as much as flexibility in making your site unique.</p>
      </div>
    </div>
    <div class="row mt-35 landing-screen-animation">
      <div class="col-xl-4 offset-xl-4 col-lg-6 col-12 text-center">
        <div>
          <a [routerLink]="'/home'">
                        <span class="pc-bg">
                          <span style="background-image: url('assets/images/demo/index.jpg');" class="img-scroll"></span>
                      </span>
                  </a>
        </div>
        <h2 class="demo-title">Demo Landing page</h2>
      </div>
    </div>
  </div>
</section>
<!-- home demo section end -->
<!-- other page section  -->
<section class="fadin-blog pt-0">
  <div class="container m-width">
    <div class="row">
      <div class="col-md-12">
        <h2 class="landing-title">Other Pages</h2>
        <div class="border-shape"></div>
      </div>
    </div>
    <div class="row mt-35 pages-space">
      <div class="col-xl-4 col-lg-6 col-12 text-center">
        <div>
          <a [routerLink]="'/blog/list'">
            <span class="pc-bg">
              <span style="background-image: url('assets/images/demo/blog.jpg');" class="img-scroll"></span>
            </span>
          </a>
        </div>
        <h2 class="demo-title">blog-details 1</h2>
      </div>
      <div class="col-xl-4 col-lg-6 col-12 text-center">
        <div>
          <a [routerLink]="'/blog/details'">
            <span class="pc-bg">
              <span style="background-image: url('assets/images/demo/blog-details.jpg');" class="img-scroll"></span>
            </span>
          </a>
        </div>
        <h2 class="demo-title">blog-details 2</h2>
      </div>
      <div class="col-xl-4 col-lg-6 col-12 text-center">
        <div>
          <a [routerLink]="'/blog/left-sidebar'">
                <span class="pc-bg">
                  <span style="background-image: url('assets/images/demo/blogs-leftside.jpg');" class="img-scroll"></span>
                </span>
              </a>
        </div>
        <h2 class="demo-title">blog-details 3</h2>
      </div>
      <div class="col-xl-4 col-lg-6 col-12 text-center">
        <div>
          <a [routerLink]="'/blog/right-sidebar'">
                <span class="pc-bg">
                  <span style="background-image: url('assets/images/demo/blogs-rightside.jpg');" class="img-scroll"></span>
                </span>
              </a>
        </div>
        <h2 class="demo-title">blog-details 4</h2>
      </div>
      <div class="col-xl-4 col-lg-6 col-12 text-center">
        <div>
          <a [routerLink]="'/blog/details-left-sidebar'">
            <span class="pc-bg">
              <span style="background-image: url('assets/images/demo/blog-details-with-leftsidebar.jpg');" class="img-scroll"></span>
            </span>
          </a>
        </div>
        <h2 class="demo-title">blog-details 5</h2>
      </div>
      <div class="col-xl-4 col-lg-6 col-12 text-center">
        <div>
          <a [routerLink]="'/blog/details-right-sidebar'">
            <span class="pc-bg">
              <span style="background-image: url('assets/images/demo/blog-details-with-rightsidebar.jpg');" class="img-scroll">
               </span>
            </span>
          </a>
        </div>
        <h2 class="demo-title">blog-details 6</h2>
      </div>
      <div class="col-xl-4 col-lg-6 col-12 text-center">
        <div>
          <a [routerLink]="'/pages/sign-in'">
              <span class="pc-bg">
                <span style="background-image: url('assets/images/demo/sign-in.png');" class="img-scroll"></span>
              </span>
          </a>
        </div>
        <h2 class="demo-title">Sign In</h2>
      </div>
      <div class="col-xl-4 col-lg-6 col-12 text-center">
        <div>
          <a [routerLink]="'/pages/sign-up'">
            <span class="pc-bg">
              <span style="background-image: url('assets/images/demo/sign-up.png');" class="img-scroll"></span>
            </span>
          </a>
        </div>
        <h2 class="demo-title">Sign up</h2>
      </div>
      <div class="col-xl-4 col-lg-6 col-12 text-center">
        <div>
          <a [routerLink]="'/pages/forget-password'">
                <span class="pc-bg">
                  <span style="background-image: url('assets/images/demo/forget-pwd.png');" class="img-scroll"></span>
                </span>
          </a>
        </div>
        <h2 class="demo-title">Forget Password</h2>
      </div>
      <div class="col-xl-4 col-lg-6 col-12 text-center">
        <div>
          <a [routerLink]="'/pages/thank-you'">
                <span class="pc-bg">
                  <span style="background-image: url('assets/images/demo/thank-you.png');" class="img-scroll"></span>
                </span>
          </a>
        </div>
        <h2 class="demo-title">Thank You</h2>
      </div>
      <div class="col-xl-4 col-lg-6 col-12 text-center">
        <div>
          <a [routerLink]="'/pages/review'">
                <span class="pc-bg">
                  <span style="background-image: url('assets/images/demo/review.png');" class="img-scroll"></span>
                </span>
          </a>
        </div>
        <h2 class="demo-title">Review</h2>
      </div>
      <div class="col-xl-4 col-lg-6 col-12 text-center">
        <div>
          <a [routerLink]="'/pages/404'">
                <span class="pc-bg">
                  <span style="background-image: url('assets/images/demo/404.png');" class="img-scroll"></span>
                </span>
          </a>
        </div>
        <h2 class="demo-title">404 Not page</h2>
      </div>
      <div class="col-xl-4 col-lg-6 col-12 text-center">
        <div>
          <a [routerLink]="'/pages/faq'">
                <span class="pc-bg">
                  <span style="background-image: url('assets/images/demo/faq.png');" class="img-scroll"></span>
                </span>
          </a>
        </div>
        <h2 class="demo-title">FAQ page</h2>
      </div>
      <div class="col-xl-4 col-lg-6 col-12 text-center">
        <div>
          <a [routerLink]="'/pages/download'">
                <span class="pc-bg">
                  <span style="background-image: url('assets/images/demo/download.png');" class="img-scroll"></span>
                </span>
          </a>
        </div>
        <h2 class="demo-title">Download page</h2>
      </div>
      <div class="col-xl-4 col-lg-6 col-12 text-center">
        <div>
          <a [routerLink]="'/pages/coming-soon'">
                <span class="pc-bg">
                  <span style="background-image: url('assets/images/demo/coming-soon.png');" class="img-scroll"></span>
                </span>
          </a>
        </div>
        <h2 class="demo-title">Coming soon page</h2>
      </div>
      <div class="col-xl-4 offset-xl-4 col-lg-6 col-12 text-center">
        <div>
          <a [routerLink]="'/pages/email-template'">
            <span class="pc-bg">
              <span style="background-image: url('assets/images/demo/email.png');" class="img-scroll"></span>
            </span>
          </a>
        </div>
        <h2 class="demo-title">Email Template</h2>
      </div>
    </div>
  </div>
</section>

