<nav class="navbar navbar-expand-lg navbar-light theme-nav fixed-top"
     [class.darkHeader]="darkHeader">
  <div class="container col-11">
    <a class="navbar-brand"
       [routerLink]="'/home'"
       href="#intro"
       [pageScrollOffset]="80"
       pageScroll><img src="assets/images/LangInnov/logo.png"
           alt="logo"></a>
    <!-- <button mat-flat-button color="accent" class="feedback-btn" (click)="goForm()">We need your feedback</button> -->
    <button class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse default-nav"
         id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto"
          id="mymenu">
        <li class="nav-item">
          <a class="nav-link"
             [routerLink]="'/home'"
             href="#intro"
             [pageScrollOffset]="80"
             pageScroll>Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"
               [routerLink]="'/home'"
               href="#about"
               [pageScrollOffset]="80"
               pageScroll>About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
             [routerLink]="'/home'"
             href="#services"
             [pageScrollOffset]="80"
             pageScroll>Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
             [routerLink]="'/home'"
             href="#careers"
             [pageScrollOffset]="80"
             pageScroll>Careers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
             [routerLink]="'/home'"
             href="#contact"
             [pageScrollOffset]="80"
             pageScroll>Contact Us</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
