<section id="about-intro" class="about-reverse">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-12 col-lg-6">
        <div class="intro-img col-lg-8 col-md-5 col-sm-5 mx-auto" *ngIf="!bMedium">
          <img class="img-fluid" src="assets/images/illus/baby-thinking.png" alt="learning path">
        </div>
      </div>
      <div class="col-11 col-md-11 col-lg-6 order-first order-sm-last order-md-last order-lg-last mx-auto" >
        <div class="intro-contain">
          <div>
            <h2>{{ 'HOME.ABOUT-INTRO.CATCHPHRASE' | translate }}</h2>
            <p *ngFor="let paragraph of paragraphs" class="text-left text-sm-justify">{{ paragraph.PARAGRAPH }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
