<section id="about" class="about">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 mx-auto text-center section-title" >
              <h2>{{ 'HOME.ABOUT.TITLE' | translate }}</h2>
        </div>
    </div>
    <div class="row align-items-top">
      <div class="col-md-12 col-lg-5">
        <div class="intro-img col-11 about-introduction">
            <p>{{ 'HOME.ABOUT.MESSAGE' | translate }}</p>
          <p>{{ 'HOME.ABOUT.SUB-MESSAGE' | translate }}</p>
        </div>
      </div>
      <div class="col-11 col-md-11 col-lg-7 order-first order-sm-last order-md-last order-lg-last mx-auto" >
          <div class="row ceo-blocks">
              <div class="col-6">
                <div class="gallery-item">
                  <mat-card class="gallery-card text-center">
                    <img mat-card-image class="ceo-image col-8" src="{{'HOME.ABOUT.PERSON1-PHOTO' | translate }}" alt="{{'HOME.ABOUT.PERSON1-NAME' | translate }}">
                    <h6>{{ 'HOME.ABOUT.PERSON1-NAME' | translate }}</h6>
                    <p>{{ 'HOME.ABOUT.PERSON1-ROLE' | translate }}</p>
                    <a href="{{ 'HOME.ABOUT.PERSON1-WEBSITE' | translate }}" target="_blank"><i class="fa fa-3x fa-arrow-circle-right website-link" aria-hidden="true"></i></a>
                  </mat-card>
                </div>
              </div>
              <div class="col-6">
                  <div class="gallery-item">
                    <mat-card class="gallery-card text-center">
                      <img mat-card-image class="ceo-image col-8" src="{{'HOME.ABOUT.PERSON2-PHOTO' | translate }}" alt="{{'HOME.ABOUT.PERSON2-NAME' | translate }}">
                      <h6>{{ 'HOME.ABOUT.PERSON2-NAME' | translate }}</h6>
                      <p>{{ 'HOME.ABOUT.PERSON2-ROLE' | translate }}</p>
                      <a href="{{ 'HOME.ABOUT.PERSON2-WEBSITE' | translate }}" target="_blank"><i class="fa fa-3x fa-arrow-circle-right website-link" aria-hidden="true"></i></a>
                    </mat-card>
                  </div>
                </div>
            </div>
      </div>
    </div>
  </div>
</section>